@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

body {
  font-family: "Inter var", sans-serif;
}

.fps {
  left: 50%!important;
  top: 50%!important;
  transform: translate3d(-50%, -50%, 0) scale(5);
  image-rendering: pixelated;
}